{% extends "base.html" %}
{% block content %}
<section>
    <h1 class="display-5 fw-bold">Error</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Invalid credentials</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button
              type="button"
              class="btn btn-primary btn-lg px-5 gap-3"
              onclick="location.href='/'"
            >
              Back
            </button>
        </div>
    </div>
</section>
{% endblock %}