{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <section class="container">
    {% if page == 'login' %}
      <form style="max-width: 500px; margin: 0 auto;" class="mt-4" action="" method="POST">
        {% csrf_token %}
        <h1 class="mb-3">Login</h1>
        <div class="mb-3">
          <label for="unique_id" class="form-label">Unique ID</label>
          <input type="text" name="unique_id" class="form-control" id="unique_id" required
          />
        </div>
        <div class="mb-3">
          <label for="phone_no" class="form-label">Email</label>
          <input type="text" name="phone_no" class="form-control" id="phone_no" required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="password" required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
 
    {% else %}
      <form style="max-width: 500px; margin: 0 auto;" class="mt-4" action="" method="POST">
        {% csrf_token %}
        <h1 class="mb-3">Register</h1>
        <!-- {% for field in form %} -->
        <div class="mb-3">
          <!-- <label for="first_name" class="form-label">{{field.label}}</label> -->
           {{form.fields|crispy}}
        <!-- </div> -->
        <!-- {% endfor %} -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    {% endif %}
  </section>
{% endblock content %}

