{% extends "base.html" %} {% block content %}
<section style="max-width: 500px; margin: 0 auto" class="container">
  <form class="mt-4" action="{% url 'register_otp' %}" method="POST">
    {% csrf_token %}
    <h4 class="mb-2">Enter OTP sent to {{phone}}</h4>
    <div class="mb-3">
      <label for="otp" class="form-label">OTP</label>
      <input
        type="password"
        name="otp"
        class="form-control"
        id="otp"
        required
      />
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
  <div class="mt-2">
    <div class="text-muted">
      Dont Have An Account?
      <a class="ml-2" href="{% url 'register' %}">Register</a>
    </div>
  </div>
</section>
{% endblock content %}
